[submodule "frontend"]
	path = frontend
	url = https://github.com/Pong-Beat-Makers/frontend.git
[submodule "game"]
	path = game
	url = https://github.com/Pong-Beat-Makers/game.git
[submodule "chatting"]
	path = chatting
	url = https://github.com/Pong-Beat-Makers/chatting.git
[submodule "user-management"]
	path = user-management
	url = https://github.com/Pong-Beat-Makers/user-management.git
