.rank__stage {
    width: 95%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
}

.rank__stage--table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
}

.rank__stage--avatar {
    position: relative;
    border-radius: 50%;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 20px 0px #FFF38580;
    background-size: cover;
}

.rank__profile--gold {
    width: 285px;
    height: 285px;
}

.rank__profile--silver {
    width: 204px;
    height: 204px;
}

.rank__profile--bronze {
    width: 155px;
    height: 155px;
}

.rank__stage--avatar.rank__profile--gold::after {
    content: url("../assets/gold.svg");
    position: absolute;
    bottom: -35px;
    left: 96px;
}

.rank__stage--avatar.rank__profile--silver::after {
    content: url("../assets/silver.svg");
    position: absolute;
    bottom: -35px;
    left: 64px;
}

.rank__stage--avatar.rank__profile--bronze::after {
    content: url("../assets/bronze.svg");
    position: absolute;
    bottom: -35px;
    left: 42px;
}

.rank__list {
    min-height: 0;
    width: 95%;
    border-top: 1px solid #9546FC80;
    flex-grow: 1;
    padding: 10px 0;
}

.rank__list--friends {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 100%;
}

.rank__list--item {
    width: 300px;
    margin: 0 72px 10px 0;
    display: flex;
}

.rank__list--number {
    width: 40px;
    display: flex;
    align-items: center;
    color: #872AFF;
    font-size: 30px;
    margin-bottom: 10px;
}

.rank__list--item > div:last-child {
    flex-grow: 1;
}